:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}


::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

::-webkit-scrollbar-track{
  background: hsla(0,0%,100%, -1);
}

::-webkit-scrollbar-thumb{
  background: rgba(0,0,0,0.2);
}